@model Carriers.Mvc.ViewModels.CarrierVm

<h4>CarrierVm</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Nome)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Nome)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.RazaoSocial)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.RazaoSocial)
    </dd>

</dl>
